.popup-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    background: url('img/water_texture.png') repeat;
    background-size: cover;
    animation: waterMove 4s infinite linear;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  @keyframes waterMove {
    0% { background-position: 0 0; }
    100% { background-position: 100px 100px; }
  }
  
  .popup-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .popup-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .popup-close-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
  }
  